body {
  background-color: lightgreen;
  font-family: 'Source Sans Pro', sans-serif;
}

#brochureTitle{
  font-family: 'Denk One', sans-serif;
  /*font-family: 'Lakki Reddy', cursive;*/
  margin-left: 2%;
  display: inline-block;
}
#brochureTitle a {
  text-decoration: none;
  color: black;
}

.sun {
  color: yellow;
}
.drop {
  color: royalblue;
}

#navigation-bar {
  font-family: 'Denk One', sans-serif;
  /*font-family: 'Lakki Reddy', cursive;*/
  display: inline-block;
  float: right;
  margin-right: 3%;


}
#navigation-bar a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.mainImg {
  border: 1px solid black;
  height: 300px;
  width:400px;
  margin-right: 15%;
  margin-top: 30px;
  display: inline-block;
  float: right;

}
.secondImg {
  border: 1px solid black;
  height: 300px;
  width:400px;
  margin-left: 15%;
  margin-top: 30px;
  display: inline-block;


}
 h3, h5 {
   font-family: 'Denk One', sans-serif;
 }

.summary, .api, .stretch, .tech, .sensors {
  border: 1px solid black;
  width: 400px;
  height: 200px;
  background-color: white;
}

.summary {
  margin-top: 2%;
  margin-left: 20%;
  width: 650px;
  height: 100px;
  padding: 10px;
  text-align: center;
}

.tech {
  margin-left: 10%;
  margin-top: 30px;
  display: inline-block;
  float: left;
  margin-left: 10%;
  width: 350px;
  padding: 10px;
}
.tech h3 {
  text-align: center;
}

.api {
  margin-top: 30px;
  margin-right: 10%;
  display: inline-block;
  float: right;
  width: 550px;
  height: 200px;
  padding: 10px;
  text-align: center;
}
/*.api h3 {
    text-align: center;
}*/

.sensors {
  margin-left: 10%;
  margin-top: 30px;
  height: 200px;
  display: inline-block;
  float: left;
  width: 350px;
  padding: 10px;
}
.sensors h3, p {
  text-align: center;
}

.stretch {
  margin-left: 5%;
  margin-top: 30px;
  padding: 10px;
  width: 550px;
  height: 200px;
  display: inline-block;
  text-align: center;

}

footer {
  margin-left: 45%;
  margin-right: 45%;
}

.epics {
 display: inline-block;
 float: left;
 margin-left: 25%;
 margin-right: 50px;
}
.stories {
  display: inline-block;
  float: left;
  margin
}
.about {
  width: 650px;
  margin-top: 2%;
    margin-left: 20%;
    text-align: center;
}
.hello {
  text-align: center;
}
